/* Base Styles*/
body {
  height: 100vh;
  background-color: $white;
}

main {
  @include page-width;
}

.section__row {
  @include page-width;
}

.col {
  max-width: 100%;
}

.autor {
  a {
    color: $spanish-pink;
    &:hover {
      color: $eerie-black;
    }
    &:active {
      color: $platinum;
    }
  }
  img {
    height: 140px;
    width: 140px;
  }
}

.pagination {
  background-color: $platinum;
}

@media (min-width: 769px) {
  .autor {
    img {
      height: 170px;
      width: 170px;
    }
  }
}
