/* Base Typography*/
body {
  font-family: $roboto;
  font-weight: $weight-light;
  font-size: $medium;
  color: $raisin-black;
}

.main__p {
  letter-spacing: 1px;
  line-height: 45px;
}

.main__fecha {
  font-family: $playfair;
  font-style: $large;
}

header h1 {
  @include playfair__bold;
  font-size: $xx-large;
  color: $white;
  filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.18));
  width: 55%;
  text-align: center;
}

section h1 {
  @include playfair__bold;
  font-size: $x-large;
  color: $eerie-black;
}
