@mixin mi__centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin playfair__bold {
  font-family: $playfair;
  font-weight: $weight-bold;
  font-style: italic;
}

@mixin page-width {
  align-items: center;
  width: 85vw;
  margin: 10vh auto;
}
